.myBtn {
  padding: 5px 15px;
  width: fit-content;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 2px solid teal;
  cursor: pointer;
}

.myBtn:hover {
  background-color: teal;
  color: white;
}

.myBtn:active {
  background-color: darkslategray;
  border-color: darkslategray;
  color: white;
}
